/* nav section */
.header{
    width: 1140px;
    height: 70px;
    margin: 30px 150px;
}
.navbar{
    display: flex;
    justify-content: space-between;

}
.list{
    display: flex;
    list-style: none;
    
}
.list{
    gap: 50px;
}
.nav-logo{
    width: 135px;
    width: 82px;
}

/* main style section */
.light-gray-color{
    color: #8987A1;
}
.bg-primary{
    color: #E95A08;
}
/* banner section */
.banner{
    display: flex;
    justify-content: space-around;
    margin: 100px 150px;
}
.banner-title{
    font-size: 65px;
    font-weight: bold;
    margin-bottom: 0;
}
.banner-img{
    width: 530px;
    height: 355px;
}
/* responsive work */
@media screen and (max-width: 576px) {
    .navbar{
        flex-direction: row;
    }
    .hide{
        display: none;
    }
    .header{
        width:361px;
        height: 31px;
        margin: 0 0 0 0;
        
    }
    .nav-logo{
        width: 63px;
        height: 38px;
    }
    .cart{
        width: 113px;
        height: 24px;
    }
    .banner{
        flex-direction: column-reverse;
        margin: 0 0 0 0;
    }
    .banner-img{
        width: 393.18px;
        height: 245px;
    }
    .banner-text{
        width: 361px;
        height: 147px;
        margin: 0 0 0 0;
   }
   .banner-title{
    width: 361px;
    height: 66px;
    font-size: 24px;
     margin-left: 16px;
   }
   .banner-discription{
    font-size: 14px;
    margin-top: 0px;
    margin-left: 16px;
    margin-right: 17px;
   }
    
}